@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Karla', sans-serif;
}

@layer base {
  body {
    @apply bg-[#d1bfa7] text-[#111] min-h-screen scroll-smooth ;
  }
}

/* .gradient-border {
  border: 5px solid;
  border-radius: 5px;
  border-image: linear-gradient(45deg, purple, orange) 1;
} */


/* text-[#16d298] */